aws_region       = "eu-central-1"
project          = "aws-lab"
vpc_cidr         = "10.20.0.0/16"
instance_type    = "t3.micro"
allowed_ssh_cidr  = "203.0.113.10/32" # your public IP /32, not 0.0.0.0/0
allowed_http_cidr = "203.0.113.10/32" # your public IP /32 or LB CIDR
replica_region    = "eu-west-1"       # S3 cross-region replication target
# key_name        = "my-ec2-keypair"
